{% extends "base.html" %}


{% block content %}
<style>
#vis{
    width: 100px;
}
</style>

<h2>{{ full_name }} logged in !</h2>
<p>Click <a href="/accounts/logout/">here</a> to logout</p>

<form action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>


    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
    <script src="http://trifacta.github.com/vega/vega.js"></script>
<script type="text/javascript" >
function parse(spec) {
  vg.parse.spec(spec, function(chart) { chart({el:"#vis"}).update(); });
}
parse('{{ STATIC_URL }}term_freq.json');
</script>
{% endblock %}